<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="APicker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="APicker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="APicker.My.MySettings.dbPaintingV1ConnectionString"
      connectionString="Data Source=C:\Database\dbPaintingV1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <APicker.My.MySettings>
      <setting name="UseCard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MATLABDIR" serializeAs="String">
        <value>F:\ENERGETIC ENGINEERING\PR ROBOT\matlab_code</value>
      </setting>
      <setting name="IsRepeatTestRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LinearInterpIncrementStep" serializeAs="String">
        <value>101</value>
      </setting>
      <setting name="TableR0PPR" serializeAs="String">
        <value>12800</value>
      </setting>
      <setting name="RotaryR1PPR" serializeAs="String">
        <value>6400</value>
      </setting>
      <setting name="DeleteCode" serializeAs="String">
        <value>thunder</value>
      </setting>
      <setting name="EditCode" serializeAs="String">
        <value>thunder</value>
      </setting>
      <setting name="AddCode" serializeAs="String">
        <value>thunder</value>
      </setting>
      <setting name="ValveEditCode" serializeAs="String">
        <value>thunder</value>
      </setting>
      <setting name="SpeedEditCode" serializeAs="String">
        <value>thunder</value>
      </setting>
      <setting name="TableHomeOffset" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="R11HomeOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="R12HomeOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FFormat" serializeAs="String">
        <value>#0.00</value>
      </setting>
      <setting name="RotaryR2PPR" serializeAs="String">
        <value>6400</value>
      </setting>
      <setting name="PressureEditCode" serializeAs="String">
        <value>thunder</value>
      </setting>
      <setting name="PresureMax" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="PressureMin" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="TwistPlusLimit" serializeAs="String">
        <value>97</value>
      </setting>
      <setting name="TwistMinusLimit" serializeAs="String">
        <value>-25</value>
      </setting>
      <setting name="BendingPlusLimit" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="BendingMinusLimit" serializeAs="String">
        <value>-143</value>
      </setting>
      <setting name="Yppmm_Denominator" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="YJogDt" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="YJogSpeed" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="YJogRange" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="Xppmm_Denominator" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="XJogDt" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="XJogSpeed" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="XJogRange" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Zppmm_Numerator" serializeAs="String">
        <value>1421</value>
      </setting>
      <setting name="Zppmm_Denominator" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ZJogDt" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="ZJogRange" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="AJogDt" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Yppmm_Numerator" serializeAs="String">
        <value>2741</value>
      </setting>
      <setting name="Xppmm_Numerator" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ZJogSpeed" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="Appmm_Numerator" serializeAs="String">
        <value>250000</value>
      </setting>
      <setting name="Appmm_Denominator" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="AJogSpeed" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="AJogRange" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="Lift_10" serializeAs="String">
        <value>67893</value>
      </setting>
      <setting name="Lift_up" serializeAs="String">
        <value>115490</value>
      </setting>
      <setting name="Arm_Speed" serializeAs="String">
        <value>960000</value>
      </setting>
      <setting name="Arm_ACC" serializeAs="String">
        <value>6300</value>
      </setting>
      <setting name="LIFT_Down" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LIFT_SPEED" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LIFT_DOWN_SPEED" serializeAs="String">
        <value />
      </setting>
      <setting name="LIFT_ACC1" serializeAs="String">
        <value />
      </setting>
      <setting name="LIFT_ACC2" serializeAs="String">
        <value />
      </setting>
      <setting name="ARM_RANGE" serializeAs="String">
        <value />
      </setting>
      <setting name="Time_HandOFF" serializeAs="String">
        <value />
      </setting>
      <setting name="ARM_TO_CAM_RANGE" serializeAs="String">
        <value />
      </setting>
      <setting name="HAND_TO_CAM_RANGE" serializeAs="String">
        <value />
      </setting>
    </APicker.My.MySettings>
  </userSettings>
  <applicationSettings>
    <APicker.My.MySettings>
      <setting name="Output_Hand" serializeAs="String">
        <value>13</value>
      </setting>
    </APicker.My.MySettings>
  </applicationSettings>
</configuration>
